<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="日志收集"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="日志收集" ><intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 监听通知 测试 stupid boss-->
        <service
            android:name="com.example.demo.NotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver android:name="com.example.demo.MyReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" /> <!-- 开机 -->
                <action android:name="android.intent.action.ACTION_SHUTDOWN" /> <!-- 关机 -->
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" /> <!-- 充电 -->
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" /> <!-- 不充电 -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" /> <!-- 蓝牙 -->
                <action android:name="android.intent.action.HEADSET_PLUG" /> <!-- 耳机 -->
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" /> <!-- 拨打电话 -->
                <action android:name="android.intent.action.PHONE_STATE" /> <!-- 来电电话 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> <!-- 网络变化 -->
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED" /> <!-- 蓝牙变化 -->
                <action android:name="android.intent.action.SIM_STATE_CHANGED" /> <!-- SIM变化 -->

            </intent-filter>
        </receiver>
        <receiver android:name="com.example.demo.AppReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" /> <!-- 安裝 -->
                <action android:name="android.intent.action.PACKAGE_REPLACED" /> <!-- 卸载 -->
                <action android:name="android.intent.action.PACKAGE_REMOVED" /> <!-- 升级 -->
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.example.demo.PhotoBroadcastReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.hardware.action.NEW_PICTURE" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter android:priority="1000" >
                <action android:name="android.hardware.action.NEW_VIDEO" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
